h1 {
  text-align: center;
}

.logo {
  margin: 0 auto;
  max-width: 300px;
}

h2 {
  text-align: center;
  max-width: 500px;
  margin: auto;
  color: rgb(183, 25, 171);
}
body {
  display: grid;
  justify-content: center;
  align-content: space-evenly;
  justify-items: center;
  background-color: rgba(12, 17, 52, 0.889);
}
section {
  display: flex;
  flex-direction: row;
}

article {
  display: inline-grid;
  align-content: center;
  justify-items: center;
  padding: 50px;
}
.player-1 {
  align-items: center;
  color: green;
}

.player-2 {
  align-items: center;
  color: blue;
}

.player2-avatar {
}

.markingsplayer1 {
  background-image: url('./images/crossespixelated75px2.png');
  background-position: center;
  background-repeat: no repeat;
}

.markingsplayer2 {
  background-image: url('./images/bombpixelated75px.png');
  background-position: center;
  background-repeat: no-repeat;
}

.board {
  grid-template-columns: 75px 75px 75px;
  grid-template-rows: 75px 75px 75px;
  column-gap: 15px;
  row-gap: 15px;
  background-image: url(./images/board\(3\).png);
  background-size: 305px;
  background-position: center;
  background-position-y: center;
  background-repeat: no-repeat;
}
div {
  border: 0px;
  height: 75px;
  width: 75px;
}

aside {
  text-align: center;
  margin: 50px;
}

footer {
  margin: 50px;
}
