.initial-hello {
  width: 70%;
  height: 70%;
  background: radial-gradient(rgba(37, 42, 80, 0.956), rgb(12, 17, 52));
  position: absolute;
  top: 21%;
  left: 15%;
  border-radius: 20px;
}

.initial-hello::after {
  content: '';
  position: absolute;
  bottom: -30px;
  background: rgb(0, 13, 64);
  width: 90%;
  height: 4px;
  left: 3%;
  border-radius: 50%;
  filter: blur(3px);
}

h2 {
  display: flex;
  justify-content: center;
  margin: 10% 30% 20% 30%;
  /* left: 10%;
  top: 10%; */
  text-align: center;
  max-width: 600px;
  color: whitesmoke;
  padding-bottom: 30px;
  flex-direction: column;
  align-items: center;
  font-size: xx-large;
}

.start-the-game {
  font-family: 'Sail', cursive;
  /* height: 4em;
  width: 7em; */
  animation: wiggle 2s linear infinite;
  border: none;
  border-top: 5px solid rgb(0, 13, 64);
  border-radius: 0.2em 0.2em 0.2em 0.2em;
  font-size: 1em;
  color: radial-gradient(rgba(37, 42, 80, 0.889), rgba(12, 17, 52, 0.889));
  background-color: whitesmoke;
  transform-origin: 50% 5em;
  margin-top: 60px;
}
/* Keyframes */
@keyframes wiggle {
  0%,
  7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%,
  100% {
    transform: rotateZ(0);
  }
}

a {
  color: whitesmoke;
}
body {
  display: grid;
  justify-content: center;
  align-content: space-evenly;
  justify-items: center;
  background: radial-gradient(rgba(37, 42, 80, 0.889), rgba(12, 17, 52, 0.889));
  font-family: 'Sail', cursive;
  margin: 0 auto;
  cursor: crosshair;
}

h1 {
  text-align: center;
  margin-left: 75px;
}

.logo {
  max-width: 600px;
  text-align: center;
}

h3 {
  text-align: center;
  max-width: 600px;
  margin: auto;
  color: whitesmoke;
  margin-bottom: 20px;
  padding: 10px;
  border: 5px whitesmoke double;
  border-radius: 10px;
  font-size: x-large;
}

section {
  display: flex;
  flex-direction: row;
}

article {
  display: inline-grid;
  align-content: center;
  justify-items: center;
  padding: 35px 40px 40px 40px;
}

.dialog-board {
  display: grid;
  height: 50px;
  grid-template-columns: 3fr 6fr 3fr;
  align-content: center;
  justify-items: center;
  color: whitesmoke;
  font-size: x-large;
  margin-top: 30px;
  margin-bottom: -20px;
  padding-bottom: -10px;
}

.speech-bubble-player-one {
  display: grid;
  justify-self: end;
}

.speech-bubble-player-two {
  display: grid;
  justify-self: start;
}

.speech-disappear {
  display: none;
}

.speech-appear {
  display: contents;
}

.player-one {
  color: whitesmoke;
  font-size: x-large;
}

.player-two {
  color: whitesmoke;
  font-size: x-large;
}

.player-two-name,
.player-one-name {
  margin: 0px;
}

.player-info {
  margin-top: 10px;
}

.winner {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

/* .player2-avatar {
} */

.markings-player-one {
  background-image: url('./images/crossespixelated75px2.png');
  background-position: center;
  background-repeat: no-repeat;
}

.markings-player-two {
  background-image: url('./images/bombpixelated75px.png');
  background-position: center;
  background-repeat: no-repeat;
}

.board {
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  column-gap: 15px;
  row-gap: 15px;
  background-image: url(./images/game-board.png);
  background-size: 410px;
  background-position: center;
  background-position-y: center;
  background-repeat: no-repeat;
}
div {
  border: 0px;
  height: 100px;
  width: 100px;
}

aside {
  color: whitesmoke;
  text-align: center;
}

/* Popup container */
.information-pop-up {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.information-pop-up .popuptext {
  visibility: hidden;
  width: 400px;
  background-color: rgb(31, 26, 49);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 15px 20px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: -130%;
  margin-left: -80px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-style: italic;
}

/* Popup arrow */
.information-pop-up .popuptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.information-pop-up .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

footer {
  margin: 50px;
  color: whitesmoke;
  font-size: larger;
}

.fade-out-image {
  animation: fadeOut 4s forwards;
  -webkit-animation: fadeOut 2s forwards;
  -moz-animation: fadeOut 2s forwards;
  -o-animation: fadeOut 2s forwards;
  -ms-animation: fadeOut 2s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
  from {
    top: 0%;
  }
  to {
    top: 200%;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
